<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aptitudes</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="princ">
        <nav>
            <ul>
                <li>
                    <a href="/">Datos</a>
                </li>

                <li>
                    <a href="/experiencia">Experiencia</a>
                </li>

                <li>
                    <a href="/estudios">Estudios</a>
                </li>
                
                <li>
                    <a href="/aptitudes">Aptitudes</a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="contenedora">
                <h1>Aptitudes</h1>
                <ul>
                    <li>Comunicación adecuada con las personas de mi entorno</li>
                    <li>Actitud de guía y liderazgo</li>
                    <li>Toma efectiva de decisiones</li>
                    <li>Rendimiento óptimo en trabajos en equipo</li>
                    <li>Participar en procesos de aprendizaje constante y retroalimentación</li>
                </ul>
            </div>
        </main>
</body>
</html>