<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Experiencia</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="princ">
        <nav>
            <ul>
                <li>
                    <a href="/">Datos</a>
                </li>

                <li>
                    <a href="/experiencia">Experiencia</a>
                </li>

                <li>
                    <a href="/estudios">Estudios</a>
                </li>

                <li>
                    <a href="/aptitudes">Aptitudes</a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="contenedora">
                <h1>Experiencia Laboral</h1>
                <ul>
                    <li><b>2018 </b>Líder de equipo - Hackathon “Angelhack”</li>
                    <li><b>2018 </b>Líder de equipo - Hackathon “Hackatravel” (AVIATUR)</li>
                    <li><b>2018 </b>Participante - Hackathon “The Only Key” (Colpatria-Scotiabank)</li>
                </ul>
            </div>
        </main>
</body>

</html>